.first-para {
    font-size: 1.3em;
    color: darkblue;
    font-weight: bold;
    font-family: monospace;
}

h1 {
    text-decoration: underline;
}

label {
    font-weight: bold;
    color: red;
}

input {
    border: none;
    border-bottom: black solid;
}

button {
    background: lightblue;
    border-radius: 15px;
}

button:hover {
    background: black;
    text-decoration-color: white;
}