div {
    display: inline;
}

li {
    border-bottom: 5px solid grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: lightgrey;
    display: inline;
    padding: 3px;
    list-style: none;
}

#home:hover {
    background-color: red;
    border-bottom: 5px solid maroon;
}

#about:hover {
    background-color: yellow;
    border-bottom: 5px solid saddlebrown;
}

#products:hover {
    background-color: limegreen;
    border-bottom: 5px solid darkgreen;
}

#tech:hover {
    background-color: aqua;
    border-bottom: 5px solid darkblue;
}

#contact:hover {
    background-color: plum;
    border-bottom: 5px solid indigo;
}